@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

body {
	background-color: black;
}
.answrtxt {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 20px;
}
#answer {
	background-color: gray;
	border: 1px solid black;
	width: 500px;
	height: 50px;
	margin: auto;
}
#question {
	border: 0px solid black;
	color: black;
	font-family: 'Lato', sans-serif;
	width: 500px;
	height: 25px;
}
#form {
	display: flex;
	justify-content: space-around;
}
#sub {
	width: 200px;
	color: white;
	font-family: 'Lato', sans-serif;
	background-color: gray;
	border-radius: 20px;
	border: 1px solid black;
}
#ball {
	width: 300px;
	height: 300px;
	border: 1px solid white;
	border-radius: 500px;
}
#ball-circle {
	width: 200px;
	height: 200px;
	border-radius: 500px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
}
.eight {
	font-size: 50px;
	margin-left: 80px;
	font-family: 'MuseoModerno', cursive;
}
